* {
    margin: 0;
    padding: 0;
}



.header__container {
    display: flex;
    justify-content: space-around;
    background-size: contain;
    background-image: url();
    padding-top: 1em;
    padding-bottom: 20vh;
}

a {
    color: black;
}

.main-titulo {
    text-align: center;
    border-bottom:1px solid black ;
    padding: 40px 0;
    margin: 0 10vw 1.5em;
}

.circular__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em;
}

.div__container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.foto_circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.descricao-bola {
    text-align: center;
}